body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header header header"
    "form form form form form form form form"
    "image image card card card card card card"
    "footer footer footer footer footer footer footer footer";
}

.headline {
    text-align: center;
    grid-area: header;
}

.inputs {
    // width: 100%;
    text-align: center;
    grid-area: form;
}

.city, .date{
    margin-bottom: 1%;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: rosybrown;
    margin-top: 2%;
    margin-left: 2%;
    grid-area: card;
}

#image {
    margin-top: 5%;
    grid-area: image;
    width: 100%;
}

footer {
    grid-area: footer;
}

@media (min-width: 501px) and (max-width: 720px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "form form form "
        ". image ."
        "card card card"
        "footer footer footer";
    } 
}

@media (min-width: 721px) and (max-width: 1420px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header header header"
        "form form form form form form"
        "image image card card card card"
        "footer footer footer footer footer footer";
    } 
}